[Unit]
Description=Rise Mode Aura Ice Monitor (9800X3D Monitoring)
After=network.target

[Service]
Type=simple
# Executa como root para garantir acesso ao USB e sensores de hardware
User=root
Group=root
WorkingDirectory=/var/home/Alex/rise-mode-monitor-linux
# Garante que as libs da venv sejam encontradas pelo Python do sistema
Environment="PYTHONPATH=/var/home/Alex/rise-mode-monitor-linux/venv/lib/python3.14/site-packages"
ExecStart=/usr/bin/python3 -u /var/home/Alex/rise-mode-monitor-linux/aura-monitor.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
